doctype html
html(lang="en", ng-app="znieh")
    head
        meta(charset="utf-8")
        title Znieh Games
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        link(rel="stylesheet", href="/styles/layout.css?v=#{v}")
        link(rel="icon", type="image/png", href="/images/favicon.ico")


    body

        ng-view

        script(src="/js/vendor.js?v=#{v}")
        script(src="/js/game.js?v=#{v}")
        script(src="/js/app.js?v=#{v}")
